################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FolderSwitcher/.vs
/FolderSwitcher/FolderSwitcher/bin
/FolderSwitcher/FolderSwitcher/obj
