<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryFolder" value="C:\Program Files\Temp1"/>
    <add key="SecondaryFolder" value="C:\Program Files\Temp2"/>
    <add key="TempFolder" value="C:\Program Files\FolderSwitcherTemp"/>
  </appSettings>
</configuration>